@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');

*{
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    padding: 40px;
}

.square1{
    background-color:  white;
}

.title{
   color: hsl(180, 50%, 48%);
   padding-top: 10px;
}

.second{
    color: hsl(71, 73%, 54%);
    font-size: 20px;
    padding-top: 25px;
}

.paragraph{
    color: rgba(0,0,0,40%);
    line-height: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.padding{
    padding: 15px;
}

.square2{
    background-color: hsl(180, 50%, 48%);
    line-height: 30px;
    border-radius: 3px;   
    
}

.square2_h2{
    color:white;
}

.price{
    color: white;
}

.number{
    color: rgba(255, 255, 255, 40%);
}

.text{
    color: white;
}

#signUp{
    background-color:hsl(71, 73%, 54%) ;
    box-shadow: 0px 0px 26px -2px  hsl(219, 12%, 29%);
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 10%;
    margin-bottom: 5%;
   
}

.square3{
    background-color: hsl(179, 47%, 52%);
    border-radius: 3px;   
    line-height: 25px;
}

.text3{
    color: white;
}

.list{
    font-size: 15px;
    list-style: none;
    color: rgba(255, 255, 255, 70%);
    font-weight: 10px;
    margin-top: 10%;
    margin-bottom: 3%;
}

@media(min-width:1200px) {
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
    }

    .bottom{
        display: flex;
        flex-direction: row;
    }
    
}